@model IEnumerable<Demo_MVC.Models.Entities.Person>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Person</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FullName)</th>
            <th>@Html.DisplayNameFor(model => model.First().BirthYear)</th>
            <th>@Html.DisplayNameFor(model => model.First().Address)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@item.FullName</td>
            <td>@item.BirthYear</td>
            <td>@item.Address</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
